GOOGLE_MAPS_KEY=tu_llave_de_google_maps
GOOGLE_GEMINI_KEY=tu_llave_de_ai_gemini
JWT_SECRET=un_texto_muy_largo_y_aleatorio_para_seguridad
FIREBASE_STORAGE_BUCKET=tu-proyecto.appspot.com
# Credenciales DB (deben coincidir con el docker-compose)
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=changeme
